*{
	font-family: cursive;
	border: 4px solid blanchedalmond;
	color: black;
	background-color:burlywood ;
}
.title{
	color: teal ;
}
.uppercase{
	text-transform: uppercase;
}
#article-title{
	font-family: cursive;
}
[href]{
	color: brown;
}
[href*='florence']{
	color: brown;
}
a:hover{
	background-color:white ;
	color: brown;
}
p:hover{
	background-color: white;
}
h5{
	color: brown;
}

.author-class{
	color:blue;
}
#author{
	color:brown;
}
li h4{
	color:black;
}
