body{
   background-color: rgba(255,251,247,1);
   color: black;
}

.divisionV{
   background-color: rgba(9,81,86, 1);
}

.verdeC{
    background-color: rgba(161,213,135,1);
}
 
h1 {
   color:  white;
background-color: green;
 }
button{
color: white;
background-color: green;
	}

